<footer class="my-footer text-center text-lg-start bg-light text-muted">
  <h6>Soy el footer</h6>
  <h6>aca van los loguitos</h6>
  <ul class="socials">
    <li>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-google-plus"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-youtube"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-linkedin-square"></i></a>
    </li>
  </ul>
  <p>copyright &copy;2021 <a href="#">RodrigoRabellino</a></p>
</footer>
